# Python
__pycache__/
*.py[cod]
*.so

# Models
*.pt
*.pth
*.ckpt
saved_models/

# Data
dataset/
chest_xray/
*.zip
*.csv
*.json
*.npy

# Logs
*.log
logs/
runs/
*.png
*.jpg

# IDE / System
.vscode/
.idea/
.DS_Store

# Env
venv/
.env
*.env

# Kaggle / API keys
download_dataset.py
kaggle.json